<div id="<%= dom_id qualificacao %>">
  <p>
    <strong>Cliente:</strong>
    <%= qualificacao.cliente_id %>
  </p>

  <p>
    <strong>Restaurante:</strong>
    <%= qualificacao.restaurante_id %>
  </p>

  <p>
    <strong>Nota:</strong>
    <%= qualificacao.nota %>
  </p>

  <p>
    <strong>Valor gasto:</strong>
    <%= qualificacao.valor_gasto %>
  </p>

</div>
